// CONTACT

.c {
    // height: 100vh;
    position: relative;
    text-decoration: none;
  }
  
  .c-bg {
    width: 20px;
    height: 100%;
    /* background-color: #000000; */
    position: absolute;
  }
  
  .c-wrapper {
    padding: 50px;
    display: flex;
  }
  
  .c-left {
    flex: 1;
    text-decoration: none;
    border: 2px black solid;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
  }
  
  .c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
  }
  
  .c-title {
    font-size: 62px;
    font-family: "Gantari", sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .c-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Gantari", sans-serif;
  }

  .c-info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
    font-weight: 300;
    width: 70%;
    text-decoration: none;
    font-family: "Gantari", sans-serif;
  }
  
  .c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .c-desc {
    font-weight: 400;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  button {
    border: none;
    padding: 15px;
    background-color: #202020;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }

  a {
      text-decoration: none;
      font-size: large;
      color: black;
  }
  
  @media screen and (max-width: 480px) {
    .c-wrapper {
      flex-direction: column;
      padding: 0px 50px;
    }
  
    .c-title {
      font-size: 30px;
    }
  
    .c-info-item {
      margin: 20px 0px;
      width: 100%;
    }
  
    .c-desc {
      display: none;
    }
  
    form {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
  
    input {
      width: 35%;
      height: 40px;
      margin: 10px;
      margin-left: 0;
    }
  
    button {
      margin-top: 10px;
    }
  }
  